---
import { type Period, queryHits } from '../lib/hits/queryHits'
import { recordHits } from '../lib/hits/recordHits'
import Layout from '../components/Layout.astro'
import Tag from '../components/Tag.astro'
import HitsTimeline from '../components/HitsTimeline.astro'
import Header from '../components/Header.astro'
import Title from '../components/Title.astro'
import Panel from '../components/Panel.astro'
import z from 'zod'

const { slug = '' } = Astro.params

if (slug.includes('.')) {
  return Astro.redirect('/404')
}

const period = z
  .enum(['hour', 'day', 'month', 'year'])
  .default('hour')
  .parse(Astro.url.searchParams.get('period') ?? 'hour')

const path = `/${slug}`
await recordHits(path, new Date())
const hits = await queryHits(path, period, new Date())
---

<Layout title="You are being counted">
  <Header>
    <Title>You are being counted</Title>
    <p class="mt-5">
      This is a demo project made by
      <a target="_blank" class="text-brand-700 underline" href="https://arnorhs.dev">arnorhs</a>
      to play with
      <a target="_blank" class="text-brand-700 underline" href="https://astro.build/db/">Astro db</a
      >
    </p>
  </Header>
  <Panel>
    <h2 class="mt-5 text-2xl font-bold">Showing hits to <Tag>{path}</Tag></h2>
    <HitsTimeline hits={hits} period={period} />
  </Panel>
</Layout>
